* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: FiraCode Nerd Font;
  color: #ffffff;
}

body {
  height: 100vh;
  background-image: url(../images/sunrise-4987384_1280.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}

body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: inherit;
  background-size: cover;
  background-repeat: no-repeat;
  filter: blur(6px);
  z-index: -1;
}

.container {
  background-color: rgba(31, 31, 31, 0.8);
  text-align: center;
  padding: 3em;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 0 50px rgba(198, 78, 90, 0.8);
}

.count-area {
  width: 350px;
  height: 350px;
  border: 0.5rem solid white;
  border-radius: 50%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 1.5rem;
}

#timer {
  font-size: 6em;
}

#activity {
  font-size: 2em;
}

.container button {
  padding: 10px 20px;
  font-weight: bold;
  border-radius: 20px;
  border: 0.25em solid #ffffff;
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0);
}

.container button:hover {
  cursor: pointer;
  background-color: #ffffff;
}

.container button:hover i {
  color: #000000;
}

.hide-btn {
  display: none;
}

.credit {
  margin-top: 1rem;
}

.credit a {
  color: #ffffff;
}

.credit a:hover {
  color: #bdbdbd;
  text-decoration: none;
}
